button {
    display: flex;
    justify-content: center;

    width: 412px;
    height: 64px;

    margin-top: 96px;

    background: #51E678;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    border: none;

    cursor: pointer;
}

body {
    background-color: #292929;
}

/*.black {
    background-color: #292929;
}

.white {
    background-color: #F2F2F2 !important;
}

.gray {
    background-color: #C7C7C7 !important;
}*/

.logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 39px;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 247px;
}

#boxid {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 940px;
    height: 437px;

    background-color: #E5E5E5;
    border: 3px solid #51E678;
    border-radius: 8px;
}

#TXTtitle {
    font-family: 'Barlow';
    font-weight: 700;
    font-size: 42px;
    line-height: 0px;

    margin-top: 32px;
    margin-bottom: 64px;

    color: rgba(41, 41, 41, 0.8)
}

#TXTcontent {
    font-family: 'Barlow';
    font-weight: 800;
    font-size: 64px;
    line-height: 0px;

    color: #292929;
}

#TXTbutton {
    font-family: 'Barlow';
    font-weight: 700;
    font-size: 32px;

    margin-top: 10px;

    color: #292929;
}

/*#button {
    display: flex;
    justify-content: center;

    width: 412px;
    height: 64px;

    margin-top: 96px;

    background: #51E678;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

    cursor: pointer;
}*/

